*{margin: 0px; padding: 0px}
body{font-family: tahoma; font-size: 30px}

nav{
	background-color: orange;
	position: fixed;
	top: 0px;
	width: 100%;
}


ul{
	text-align: center;
	height: 50px;
}

ul li{
	display: inline;
	margin-right: 50px;
	color: #fff;
	line-height: 50px;
	font-style: italic;
}



main{
	margin: 70px 50px 0px 50px;
}

p{
	margin-bottom: 30px;
}